<%- include("header") -%>

<h2>This is the about page</h2>

<p>
  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio voluptatum
  nobis ullam natus ut aliquam facilis quam delectus? Vero, voluptas. Maxime
  eius quis cum voluptatibus exercitationem? Ab necessitatibus quidem repellat?
  Odio odit reprehenderit error, possimus et minima laborum nostrum modi vitae
  dignissimos consequatur aut accusantium voluptatum quibusdam, esse similique
  facilis amet, saepe voluptatem? Vel omnis ipsa ad voluptatum magnam libero.
</p>

<%- include("footer") -%>
