body {
    padding: 0px;
    margin: 0px;
  }

  .section1 {
    height: 300px;
    background-image: url(https://images.unsplash.com/photo-1614850523060-8da1d56ae167?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8bGlnaHQlMjBjb2xvdXJ8ZW58MHx8MHx8&w=1000&q=80);
    background-repeat: no-repeat;
    background-size: 100% 100%;
  }
  .heading {
    text-align: center;
    padding-top: 40px;
    font-family: 'Pushster', cursive;
    font-size: 2rem;
    color: aqua;
  }

  .cloud1 {
    width: 10%;
    height: 10%;
    position: absolute;
    top: 90px;
    left: 500px;
  }
  
  .cloud2 {
    width: 10%;
    height: 10%;
    position: absolute;
    top: 30px;
    right: 500px;
  } 

  .profileImage {
      border-radius: 50%;
      width: 13rem;
      display: block;
      margin: 0 auto;
  }